.search {
	width: 100%;
	background-color: #fff;
	position: relative;
	padding: 20px 15px;
	border-radius: 30px;
	display: flex;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
	align-items: center;
	svg {
		position: absolute;
		top: 50%;
		color: #000;
		transform: translateY(-50%);
	}
	> svg {
		font-size: 20px;
		left: 20px;
	}
	> div {
		position: absolute;
		right: 5px;
		width: 58px;
		height: 100%;
		display: flex;
		justify-content: center;
		border-radius: 50%;
		background-color: #f9ce40;
		cursor: pointer;
		> svg {
			position: relative;
			font-size: 24px;
		}
	}
	> input {
		background-color: transparent;
		width: 100%;
		padding-left: 40px;
		&::placeholder {
			color: #bcb5c1;
		}
	}
}
